.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4a5568;
  padding: 15px 25px; 
  z-index: 1000;
}

.navbar .main {
  display: flex;
  align-items: center;
}

.navbar .mainLink {
  margin-left: auto;
  margin-right: 50px;
  display: flex; 
  align-items: center;
}

.navbar .mainLink .separator {
  margin: 0 10px; 
}

.navbar .mainLink a {
  margin-right: 10px;
  white-space: nowrap
}

.mainLink span {
  margin-right: 10px;
  white-space: nowrap
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .main svg {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 15px;
  }
  .navbar .mainLink {
    margin: 0;
  }
  .navbar a {
    font-size: 13px;
  }
}
